.product-list{
    flex: 5;
    padding: 30px;
}
.create-product{
    margin: 30px;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #191970;
    background-color: #6495ED;
    cursor: pointer;
}
.create-product:hover{
    border: 1px solid #6495ED;
    background-color: #fff;
    color: #191970;
}